extends layout.pug
mixin card(room)
	if room.active
		.card.border-dark.mb-3(style="max-width: 20rem;")
			a.card-header.bg-success.text-white(href="/room/" + room.id)=room.name
			.card-body.text-dark
				h5.card-title=room.type
			.card-footer
				p.card-text="Owner: " + room.owned_by.username
	else
		.card.border-dark.mb-3(style="max-width: 20rem;")
			a.card-header.bg-danger.text-white(href="/room/" + room.id)=room.name
			.card-body.text-dark
				h5.card-title=room.type
			.card-footer
				p.card-text="Owner: " +room.owned_by.username

block content
	.container
		each row,idx in room_rows
			.card-deck
				each room in row
					+card(room)